.classpath
.DS_Store
.gradle
.kobalt
.nb-gradle
.project
.settings
*.iws
**/.idea/dictionaries
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/tasks.xml
**/.idea/workspace.xml
/bin
/build
/deploy
/dist
/gen
/gradle.properties
/libs
/local.properties
/out
/proguard-project.txt
/project.properties
/test-output
ehthumbs.db
kobaltBuild
target
Thumbs.db
